# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# Idea
.idea/
*.iml
*.ipr
*.iws

# VScode
.settings/
.vscode/
bin/
.classpath
.project

# MacOS
*.DS_Store

# Minecraft
run/
run-server/

# MCreator
*.mcreator
elements/
mcreator.gradle

# Other
settings-BACKUP.gradle
gradle-BACKUP.properties
build-BACKUP.gradle
src/generated/
src/test/
